<footer class='pa2 bg-near-white tc mt5'>
  <div class="page-container center tl">
    <div class="cf ph2-ns">
      <div class="fr-l w-70-l pa2">
        <div class='pl2 pl0-ns pv4 lh-copy' style='max-width:650px'>
          <h2 class='ma0 mb2 fw4 navy-muted'>Help us Build a Better Web</h2>
          <p class='f4 fw6'>
            Contribute to this site on <a class='blue' href="https://github.com/ipfs-shipyard/arewedistributedyet/#contributing">GitHub</a>
          </p>
          <p class='f4'>
            Comment on <a href="https://github.com/arewedistributedyet/arewedistributedyet/issues">existing issues</a>, join the <a href="https://groups.google.com/forum/#!forum/dweb-in-browsers">mailing list</a>
          <p>
          <p class='f4'>
            Chat on IRC:<br/>
          <code class='pl6 fw6'>#dweb</code> at <a class='blue' href="https://wiki.mozilla.org/IRC">irc.mozilla.org</a><br/>
          <code class='pl6'>#scuttlebutt</code> at <a class='blue' href="http://webchat.freenode.net?channels=%23scuttlebutt&uio=d4">freenode.net</a><br/>
          <code class='pl6'>#dat</code> at <a class='blue' href="http://webchat.freenode.net?channels=%23dat&uio=d4">freenode.net</a><br/>
          <code class='pl6'>#ipfs-in-web-browsers</code> at <a class='blue' href="http://webchat.freenode.net?channels=%23ipfs-in-web-browsers&uio=d4">freenode.net</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
