{{ $id :=  (replace .topic.name " " "-" ) | lower }}
<article id="{{ $id }}">
  <div class="cf pl2 pb4">
    <div class="fl w-100 w-30-l pa2 lh-copy">
      <a href='#{{ $id }}' class='link navy'>
        <h1 class='mt0 fw2 f3 lh-title'>
          {{ .topic.name }}
        </h1>
      </a>
      {{ with .topic.description }}
        <p class='f5 f6-l fw4'>{{ . | markdownify }}</p>
      {{ end }}
      {{ with .topic.doc }}
         <a class='f6 fw4 blue' href='{{ . }}'>Read more</a>
      {{ end }}
    </div>
    <div class="fl w-100 w-70-l pa2">
      <div>
        {{ partial "browsers.html" . }}
      </div>
      <div class="pt2 lh-copy">
        {{ partial "details.html" . }}
      </div>
    </div>
  </div>
</article>
