<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class='sans-serif ma0 pb6'>
    {{ partial "header.html" . }}
    <div class="center" style='max-width:1100px'>
      <div class="cf ph2-ns">
        <div class="fr w-100 w-70-l pa2">
          <div class='pl2 pl0-ns pv2 pv4-ns' style='max-width:650px'>
            <p class='f5 lh-copy'>
              <strong>We're close.</strong> We need to fix bugs in existing p2p features like webRTC
          and rally support for new browser apis, to create a level playing field
          where a great user experience doesn't require a centralized system.
            </p>
          </div>
        </div>
      </div>

      {{ range $.Site.Data.topics }}
        {{ partial "topic.html"  (dict "topic" . "browsers" $.Site.Data.browsers) }}
      {{ end }}
    </div>
  </body>
</html>
